<div class="row d-flex justify-content-center mb-3">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">

                <div *ngIf="!isLoading">
                    <h4>Comentarios:</h4>

                    <div class="card mb-3" *ngFor="let comment of comments">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.name }}:</h5>
                            <p class="card-text">{{ comment.body }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
